.body{
    background-color: #fafcfc; 
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

/*estilo nav*/

.body .envio {
    background-color: rgba(5, 5, 29, 0.541);
    color: #fafcfc;
    font-family: Arial, Helvetica, sans-serif;
    font-size: x-small;
    padding-left: 45%;
    padding-top: 0.5%;
    padding-bottom: 0.5%;
}

.navbar-nav {
    color: #fafcfc;
    flex-direction: column;
    margin-left: 65%;
    align-items:end 
    
    
}


/*estilo MAIN*/
.texto{
    font-family: Verdana, Geneva, Tahoma, sans-serif;    
}

.texto .info{
    margin-top: 3%;
}


/*estilo FOOTER*/
.autor {
    font-size: xx-small;
    text-align: center;
}

/*estilo redes*/
.text-bg-dark .redes a {
    text-decoration: none;
    align-content: end   
}


/*estilo FORMULARIO*/
.texto{
   margin: 1%;
}

.row {
    padding-bottom: 1%;
}

.btn-dark {
    margin-left: 94%;
    margin-top: 1%;
}

    
/*productos pag principal*/
.contenedor_productos{
    display:grid;
    grid-template-columns: repeat(5,0fr);
    padding-left: 5%;
    column-gap: 10px;
    row-gap: 10px;
}

.lista_productos a {
    text-decoration: none;
}

/*video*/
.video {
    margin-left: 41%;
}

/*boton wsp*/
.btn-wsp{
    position:fixed;
    bottom: 20px;
    right: 20px; 
    z-index: 999;
}

/*productos-cards*/
.row-cols-sm-auto{
    padding-top: 10px;
    margin-left: 68px;    
    column-gap: 5px;
    row-gap: 5px;
    
}

 

/*imagen descripcion producto*/
.info_prod {
    margin-left: 13%;
    padding-right: 5%;
    
}

/*especificaciones producto*/
.especificaciones {
    font-size: small;
    margin-left: 15%;
    padding-right: 5%;
    
}

/*popup edad*/
.popup {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(5, 5, 29, 0.541);
    justify-content: center;
    align-items: center;
    z-index: 999;
  }
  
  .popup-content {
    background-color: white;
    padding: 20px;
    border-radius: 5px;
    text-align: center;
  }
  
  #confirmButton {
    background-color: rgba(5, 5, 29, 0.541);
    color: white;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
  }

.equipo{
    padding-left: 28%;
    column-gap: 10px;
}

